body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
button{
    background-color: #64a712;
    color: white;
    padding: 20px;
}
.passo{
    display: none;
}
.passo.ativo{
    display: block;
}
